/*content wrap*/

.section
{
    margin-left:100px;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}

/*card*/

.card-container
{
    display: flex;
    justify-content: space-between;
}

.card
{
    position: relative;
    width:300px;
    margin-left: 20px;
    margin-right: 20px;
    height:auto;
    background-color: rgb(0, 0, 0);
    border: 2px solid white;
    box-shadow: 3px 3px 0px rgba(255, 255, 255, 0.178);
    color:rgb(241, 241, 241);
    transition: transform 0.2s;
}

.card:hover
{
    transform: scale(1.1);
}

.card img
{
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.card #latest-news
{
    position:absolute;
    text-shadow: 2px 2px 4px rgb(59, 56, 24);
    transform: translate(170px,20px) rotate(13deg);
    color:rgb(255, 234, 0);
    animation: news-float 1s infinite ease-in-out;
    z-index:1;
}

@keyframes news-float {
    0% {
        transform: translate(170px,20px) rotate(13deg);
    }
    50% {
        transform: translate(170px,30px) rotate(13deg);
    }
    100% {
        transform: translate(170px,20px) rotate(13deg);
    } 
}

.card #header
{
    text-align: center;
    font-size: 1rem;
    padding: 20px;
}

.card #description
{
    text-align: center;
    line-height: 1.5;
    font-size: 0.8rem;
    padding: 20px;
}



/*buttons*/
.generic-button
{
    padding: 13px;
    font-family: pixelFont;
    border-style: solid;
    border-color: white;
    color:white;
    font-size: 1.2rem;
    background-color: transparent;
}

.generic-button:hover
{
    animation: generic-button-zoom 0.2s forwards;
}
@keyframes generic-button-zoom
{
    0%
    {
        transform: scale(1);
        border-color: white;
        color: white;
    }
    100%
    {
        transform: scale(1.1);
        border-color: rgb(255, 234, 0);
        color: rgb(255, 234, 0);
    }
}

/*generic hr*/

.generic-hr
{
    width:90%;
    border-color: rgb(74, 74, 74);
    margin: auto;
}

/*generic input*/
.generic-form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:20px;
    margin-bottom:20px;
}

.generic-form input
{
    width:500px;
    padding:20px;
    height:50px;
    color:white;
    font-size: 18px;
    background-color: black;
    border: 2px solid white;
}

.generic-form textarea 
{
    background-color: black;
    padding:20px;
    height:200px;
    width:500px;
    color:white;
    font-size: 18px;
    border: 2px solid white;
}