#hero
{
    width: 100%;
    height: 80vh;
}

#hero img
{
    height: inherit;
    width:100%;
    position: absolute;
    z-index:-1;
    opacity: 0.8;
    display: block;
    object-fit: cover;
}

#hero #header
{
    padding-top:230px;
    margin: auto;
    text-align: center;
    font-size: 35px;
    color:white;
}

#hero #header h1
{
    font-size: 50px;
    margin-bottom: 20px;
}