*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    scroll-behavior: smooth;
}

@font-face {
    font-family: pixelFont;
    src: url(./fonts/pixelfont.ttf);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:rgb(255, 234, 0);
}

/*other settings*/
body
{
  font-family: pixelFont;
  font-size: 16px;
  background-color: rgb(0, 0, 0);
}

.scroll-target 
{
  scroll-margin-top: 100px;
}